.home {
    position: relative;
    padding-top: 3rem;
}

.home__container {
    gap: 3rem;
    @media screen and (min-width: 968px) {
        gap: 1.5rem;
    }
}

.home__data {
    gap: .5rem;
    text-align: center;
}

.home__img {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.photo-of-me {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.home__title {
    text-transform: uppercase;
}

.home__subtitle {
    margin-bottom: 0.5rem;
}

.contacts {
    gap: 1rem;
}

.contacts__item {
    display: flex;
    align-items: center;
    font-size: $font-size-small;
    justify-content: center;
    @media screen and (min-width: 767px) {
        justify-content: unset;
    }
}

.contacts__icon {
    font-size: 1.2rem;
    margin-right: .25rem;
}

