.language__elements {
    padding-right: 1em;
}

.language__item {
    display: flex;
}

.language__rounder {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    background-color: $color-text-light;
    border-radius: 50%;
    margin-top: .7rem;
    margin-left: .3rem;
}

.language__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: $color-text-light;
    transform: translate(7px, 0);
}

.language__content {
    font-size: $font-size-small;
    line-height: 2rem;
}