.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: $color-body;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: $z-fixed;
        transition: .3s;
    }
}

.nav__logo,
.nav__toggle {
    color: $color-title;
    font-weight: $font-medium;
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: $font-size-smaller;
    color: $color-text-light;
    font-weight: $font-medium;
    &:hover {
        color: $color-title;
    }
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.show-menu {
    bottom: $header-height;
}