.skills__content {
    margin: 0 auto;
    width: 70%;
    @media screen and (min-width: 500px) {
        width: 55%;
    }
    @media screen and (min-width: 767px) {
        margin: unset;
        width: auto;
    } 
}

.skills__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.skills-item__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
    margin-right: .75rem;
    @media screen and (min-width: 767px) {
        background-color: $color-text;
    } 
}

.progress-bar {
    width: 60%;
    height: .5rem;
    position: relative;
    background-color: $color-container-alt; 
    @media screen and (min-width: 767px) {
        background-color: #FCFCFC;
    }
}

.progress {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: $color-text-light;;
    @media screen and (min-width: 767px) {
        background-color: $color-text-light;
    }
}

.progress-js {
    width: 45%;
}

.progress-html {
    width: 40%;
}

.progress-css {
    width: 25%;
}

.progress-sass {
    width: 20%;
}

.progress-git {
    width: 30%
}

.progress-python {
    width: 30%;
}