*,
::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin-bottom: 3rem;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  color: #403A3A;
  text-transform: none;
  background-color: #FCFCFC;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0B0A0A;
  text-transform: none;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0B0A0A;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #0B0A0A;
  text-transform: none;
}

h4 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #0B0A0A;
  text-transform: none;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0B0A0A;
  text-transform: none;
}

section {
  padding: 1.5rem 0;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: #FCFCFC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: 100;
    transition: 0.3s;
  }
}
.nav__logo,
.nav__toggle {
  color: #0B0A0A;
  font-weight: 500;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: 0.813rem;
  color: #707070;
  font-weight: 500;
}
.nav__link:hover {
  color: #0B0A0A;
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.show-menu {
  bottom: 3rem;
}

.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: 0.5rem;
}

.home__title {
  text-transform: uppercase;
}

.home__subtitle {
  margin-bottom: 0.5rem;
}

.contacts {
  gap: 1rem;
}

.contacts__item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.contacts__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__button-download {
  display: inline-block;
  border: 2px solid #403A3A;
  color: #0B0A0A;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 1.5rem;
}
.home__button-download:hover {
  background-color: #403A3A;
}

.profile__text {
  text-align: center;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: 0 1.5em;
}

.bd-grid {
  display: grid;
  gap: 1.5em;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #FCFCFC;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
