$header-height: 3rem;

// Colors
$color-title: #0B0A0A;
$color-text: #403A3A;
$color-text-light: #707070;
$color-container: #FAFAFA;
$color-container-alt: #F0EFEF;
$color-body: #FCFCFC;

// Font size
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$font-size-normal: .938rem;
$font-size-small: .875rem;
$font-size-smaller: .813rem;


// Font weight
$font-medium: 500;
$font-semi-bold: 600;

// Z-index
$z-tooltip: 10;
$z-fixed: 100;